/* #region Utilities */

:root {
      --ps_darkness: #000000;
      --ps_primary: #00439C;
      --ps_primary_light: #0070D1;
      --ps_primary_dark: #161C3B;
      --ps_darker: #1F1F1F;
      --ps_primary_lighter: #2D64E6;
      --ps_dark_mute: #363636;
      --ps_lighter: #727272;
      --ps_lightning: #BEBCBB;
      --ps_important: #CD3D0F;
      --ps_light: #FFFFFF;
      --ps_second_lighter:#D9DADC;

}

body {
      font-family: Arial, Helvetica, sans-serif;
}

.bg_lighter_nd {
      background-color: var(--ps_second_lighter);
}

.bg_primary_dark {
      background-color: var(--ps_primary_dark);
}
.bg_darkness {
      background-color: var(--ps_darkness);
}

.bg_darker {
      background-color: var(--ps_darker);
}

.bg_important {
      background-color: var(--ps_important);
}

.bg_primary {
      background-color: var(--ps_primary);
}
.bg_primary_lighter {
      background-color: var(--ps_primary_lighter);
}

.bg_lightning {
      background-color: var(--ps_lightning);
}
.primary_light {
      color: var(--ps_primary_light);
}

img {
      width: 100%;
}

li {
      list-style: none;
}

a {
      text-decoration: none;
}

.btn {
      padding: 0.5rem 1.5rem;
}
/* #endregion Utilities */


/* #region Debug */

.debug .header-bottom {
      background-color: #727272;
      height: 100px;
}


.debug .jumbotron,
.debug .banner {
      height: 150px;
      background-color: #0070D1;
}

.debug .col {
      height: 100px;
      border: 1px solid;
}

.debug .playstation_v,
.debug .playstation_iv,
.debug .social {
      background-color: #00439C;
}

.debug .playstation_plus,
.debug .playstation_now {
      background-color: #727272;
}


/* #endregion Debug */

/* #region header */
header {
      box-shadow: 0px 10px 10px 5px var(--ps_darker) ;

}

.header-top img {
      width: 100px;
      padding: 1rem;
}

.header-bottom a {
      color: var(--ps_darkness);
}

.header-bottom .nav-item button {
      background-color: var(--ps_dark_mute);
}

.nav-item .lens {
      width: 40px;
      padding: 0 0.15rem;
}

.header-bottom li {
      padding: 0.15rem;
}


.arrow {
      width: 30px;
      padding: 0.5rem;
}

.nav-link:hover .arrow {
      transform: rotate(-180deg);
}

.header-bottom button:hover {
      box-shadow: inset 0px 0px 1px 3px var(--ps_lightning);
}

.nav-item.dropdown {
      position: static;
}
.dropdown_menu img {
      width: 150px;
      padding: 0.5rem 1rem;
}

.dropdown-menu a::before {
      content: "\2022"; 
      color: var(--ps_primary_light);
      font-weight: bold;
      padding:0 0.5rem ;
}

.dropdown-menu {
      width: 100vw;
      text-align: center;
      background-color: var(--ps_light);
      border: none;
      border-radius: 0;
      box-shadow: 0px 10px 5px 4px var(--ps_darker) ;
      transition: 1s;
}

.dropdown-menu img {
      width: 100px;
}

.dropdown-menu li > div {
      width: 250px;
      border-radius: 5px;
}

.dropdown-menu li > div:hover {
      box-shadow: 0px -1px 10px 2px var(--ps_lightning);
      cursor: pointer;
}

.dropdown-menu a:hover {
      color: var(--ps_primary);
}

.dropdown-menu[data-bs-popper] {
      top: 60px;
      left: 0;
}

.dropdown-menu li > a {
      padding: 0.25rem 0.5rem;
}
/* #endregion header */

/* #region main */

main {
      margin-top: 120px;
}

.jumbotron {
      background-image: url(../img/jumbo-bg.png);
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      height: 600px;
      display: flex;
      align-items: flex-end;
}


.jumbotron .card {
      max-width: 400px;
      color: var(--ps_light);
      background: none;
      margin-bottom: 2rem;
      border: none;
}

.jumbotron .card .btn:hover,
.banner button:hover,
.playstation_plus button:hover,
.playstation_now button:hover {
      box-shadow: inset 0px 0px 0px 3px #000000;
}

/* #endregion jumbotron */


.games .col img {
      transition: 0.2s 0s linear;
      padding: 2px ;
}
.games .col:hover img { 
      border: 2px solid var(--ps_primary_light);
      cursor: pointer;
      margin-top: -2rem;
}



.playstation_v button:hover,
.playstation_iv button:hover {
      border: 1px solid white;
      box-shadow: 0px 0px 0px 3px var(--ps_darkness);
}

.playstation_v .accessories .col img {
      width: 100%;
      opacity: 50%;
      padding: 20px;
      border-bottom: 2px solid transparent;
}

.playstation_v .accessories .col img:hover {
      opacity: 100%;
      cursor: pointer;    
      border-bottom: 2px solid var(--ps_primary_light);
}

.banner {
      background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.banner .container > div  {
      width: 300px;
}

.new_releases img {
      border-radius: 25px;
      cursor: pointer;
}

.sales .col {
      position: relative;
}
.sales button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      display: none;
      padding: 0.5rem 1rem;
      background-color: var(--ps_dark_mute);
      border-radius: 1rem;
}

.sales .col:hover img{
      opacity: 0.5;
      cursor: pointer;    
}

.sales .col:hover .buy_now{
      display: block;
}

.sales .col .buy_now:hover {
      box-shadow: inset 0px 0px 0px 3px #000000;
}

.social .container {
      max-width: 600px;
      margin: auto;
}

.social img {
      transition: 0.2s 0s linear;
}

.social img:hover {
      transform: scale(1.2);
      cursor: pointer;
}
/* #endregion main */

/* #region footer */

footer a {
      color: var(--ps_light);
}

footer p {
      cursor: pointer;
}
/* #endregion footer */